.drp{
    margin-left: 80px;
    width: 200px;
    border-color: rgb(243, 4, 52);
    border-radius: 10px;
    height: 50px;
};
.btn{
    width: 100px;
    margin-bottom: 100px;

};
#sundeep {
      
        border-radius: 20px; 
        border-color:black;
        margin-left: 120px;
        padding: 50px;
          
           
}